*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: var(--color-bg);
    
}
body[data-theme="t-light"]{
    --color-bg:white;
    --color-text:white;
    --color-button:blueviolet;
    --color-bg-container:black;
}
body[data-theme="t-dark"]{
    --color-bg:black;
    --color-text:black;
    --color-button:white;
    --color-bg-container:blueviolet;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color:var(--color-bg-container) ;
    margin-left: 25px;
   
}
.my-title{
    color:var(--color-text);
    margin-bottom: 10px;
}
.my-field{
    width: 250px;
    height: 35px;
    outline: none;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}
.my-button{
    width: 250px;
    height: 35px;
    border: none;
    margin-bottom: 10px;
    background-color:var(--color-button) ;
    color: var(--color-text);
    cursor: pointer;
}
.my-button:hover{
    background-color: rgb(234, 105, 210);
    color:white;
}

.content{
   display: flex;
   align-items: center;
 
}